@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	/* background: #f1c40f; */
    background-image: url('https://i.pinimg.com/originals/7c/d8/90/7cd8909e564eea6c47897f526973e6bc.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.book-wrapper {
    position: relative;
    height: 90vh;
    width: calc(90vh * 2);
    /* margin-right: calc(90vh*1);  */
    overflow: visible;
    /* transition: margin 0.35s ease-in-out; */
}

.flipbook {
 
    /* aspect-ratio: 297/420;  */
      
 transition: margin 0.35s ease-in-out;
    /* margin-right: calc(1200px/2);
   width: 1200px;
    height: calc(1200px*297/420); */

    /* height: 90vh;
    width:  calc(90vh*2);
     margin-right: calc(90vh*1); */

       width: 100% !important;
    height: 100% !important;
     
}

/* .flipbook .hard {
    
    background: #c0392b !important; 
    color: #fff;
    font-weight: bold;
    border: none; 
} */

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 100%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}

/* NANANANANANNANANANANNANA */

 .cover {
   
    height: 100%; /* ✅ đúng bằng 1/3 flipbook */
    width: auto !important;

    
    }

.parallax-section {
position: relative;
width: 100%;
height: 100%;
background: linear-gradient(135deg, #0e1b30, #1f3a62);
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
color: #696e72 !important;
}



/* Shape chung */
.shape {
position: absolute;
width: 120px;
height: 120px;
opacity: 0.3;
border-radius: 50%;
background: #4cc9f0;
animation: float 6s infinite ease-in-out alternate;
}

/* Các layers với tốc độ khác nhau */
.s1 { top: 20px; left: 10%; animation-duration: 7s; transform: translateZ(-40px); }
.s2 { bottom: 10px; left: 40%; animation-duration: 4s; background: #f72585; transform: translateZ(-20px); }
.s3 { top: 50px; right: 15%; animation-duration: 8s; background: #7209b7; }
.s4 { bottom: 30px; right: 35%; animation-duration: 5s; background: #48bfe3; }
.s5 { top: 150px; left: 60%; animation-duration: 6s; background: #b5179e; }

/* Animation trôi + parallax */
@keyframes float {
0%   { transform: translateY(0) translateX(0) scale(1); }
100% { transform: translateY(-40px) translateX(50px) scale(1.2); }
}

/* Parallax theo scroll */
.parallax-section {
perspective: 1000px;
}

.parallax-section .shape {
transform-style: preserve-3d;
}

img.pic--1 {
    width: 60%;
   
}

img.pic--2 {
    width: 90%;
   
}

img.pic--3 {
    position: absolute;
    top: 7%;
    width: 60%;
    margin: 0;
   
}

img.pic--4 {
    position: absolute;
    bottom: 7%;
    width: 60%;
    margin: 0;
   
}

img.pic--5 {
    position: absolute;
    left:30%;
   height:auto ;
    width: 140%;
    margin: 0;
    transition: height 1s ease-in-out;
   
}

img.pic--6 {
    position: absolute;
   height:auto ;
    right:30%;
    width: 140%;
    margin: 0;
    transition: height 1s ease-in-out;
   
}


.nav-btn {
 FONT-WEIGHT: 800;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    user-select: none;
    position: absolute;
    transition: left 0.35s ease-in-out, right 0.35s ease-in-out;
}

.nav-btn:hover {
    background: rgba(0,0,0,0.7);
}

.left-btn {
    left: 0.2vw;
    padding-right: 0.3vh;
}

.right-btn {
    right: 0.2vw;
    padding-left: 0.3vh;
}

.close-left {
    left: calc((100vw - (90vh))*0.35) !important;
}

.close-right {
    right: calc((100vw - (90vh))*0.35) !important;
}

.video-container{
    display: none; 
    position: fixed; /* luôn ở trên cùng */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* căn giữa màn hình */
    z-index: 9999; /* nổi trên flipbook */
    background-color: rgba(0,0,0,0.8); /* nền tối mờ phía sau */
    padding: 10px;
    border-radius: 10px;
}

.video-container iframe {
    width: calc(180VH*0.7);   /* co theo màn hình */
    height: calc(180VH*0.7/16*9);  /* giữ tỉ lệ 16:9 */
   
}


.vanban{
      font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
    position: absolute;
     z-index: 999; 
     color: white;
     font-size: 500%;
     right:10%;
     bottom: 5%;
       text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
    transition: opacity 1s ease-in-out ;
    opacity: 1;
}