@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');

body{
    /* overflow: hidden; */
    padding: 0;
  margin: 0;
  width: 100vw;
   overflow-x: hidden;

}





.anh{
     position: absolute;
    height: 450px;
    top: 150px;
    z-index: 10;
    left: 150px; 
}





.BG{
     position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: auto;
    pointer-events: none;
}

.Hoa1{
    position: absolute;
    top: 60px;
    left: 50px;
    width: 180px;
    height: auto;
    z-index: 15;
}


.Hoa2{
       position: absolute;
    top: 380px;
    left: 580px;
    width: 150px;
    height: auto;
    z-index: 15;
}

.danHoa1{
    position: absolute;
    top: 100px;
    left: 70px;
    width: 250px;
    height: auto;
    z-index: 16;
}

.danHoa2{
    position: absolute;
    top: 460px;
    left: 500px;
    width: 250px;
    height: auto;
    z-index: 16;
}

.love {
    position: absolute;
    top: 380px;
    left: 50px;
    width: 300px;
    height: auto;
    z-index: 20;
}

.gach_ngang{
    position: absolute;
    top: 700px;
    left: 260px;
    width: 300px;
    height: 20px;
    z-index: 5;
}

.vong1_trai {
    position: absolute;
    top: 270px;
    left: -750px;
    width: 900px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.le_tren {
    position: absolute;
    top: -250px;
    left: 400px;
    width: auto;
    height: 400px;
    z-index: 24;
    pointer-events: none;
}

.name_sign {
    position: absolute;
    
    top: 570px;
    right: 200px;
    width: auto;
    height: 250px;
    z-index: 25;
}

.giayVo {
      position: absolute;
    
    top: 300px;
    right: -350px;
    width: auto;
    height: 800px;
    z-index: 22;
}

.vong2_phai {
    position: absolute;
    top: -250px;
    right: -680px;
    width: 1200px;
    height: auto;
    z-index: 23;
    pointer-events: none;
}

.video {
    position: absolute;
    top: 330px;
    right: 180px;
    width: 600px;
    height: auto;
    z-index: 24;
}

.ngay_cuoi {
    position: absolute;
    top: 130px;
    right: 450px;
    width: 400px;
    height: auto;
    z-index: 30;
}

.la1 {
    position: absolute;
    top: 0px;
    right: 270px;
    width: 180px;
    height: auto;
    z-index: 25;
}

.gach_cheo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-45%,-50%);
    right: 0;
    width: auto;
    height: 450vh;
    z-index: 35;
    pointer-events: none;
}

.scene1-BG{
    width: 100vw;
  height: 100vh;
    overflow: hidden;
     position: relative;

    /* Lúc đầu: không mask (100%) */
  --mask-end: 100%;
  --mask-trans: 100%;

  -webkit-mask-image: linear-gradient(
    to bottom,
    black var(--mask-end),
    transparent var(--mask-trans)
  );

  mask-image: linear-gradient(
    to bottom,
    black var(--mask-end),
    transparent var(--mask-trans)
  );
}



.video-container{
    display: none; 
    position: fixed; /* luôn ở trên cùng */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* căn giữa màn hình */
    z-index: 9999; /* nổi trên flipbook */
    background-color: rgba(0,0,0,0.8); /* nền tối mờ phía sau */
    padding: 10px;
    border-radius: 10px;
}

.video-container iframe {
    width: calc(180VH*0.7);   /* co theo màn hình */
    height: calc(180VH*0.7/16*9);  /* giữ tỉ lệ 16:9 */
   
}

.scene2-BG{
    width: 100vw;
  height: 120vh;
    overflow-x: hidden;
    overflow-y: hidden;
     position: relative;


      
  z-index: 50  ;
}

.ground{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.backHoa1 {
  position: absolute;
    right: -5%;
    bottom: -15%;
    width: auto;
    height: 70%;
    z-index: 2;
}

.backHoa2 {
    position: absolute;
    left: -30%;
    bottom: 10%;
    width: 50%;
    height: auto;
    z-index: 2;
}


.backHoa3 {
    position: absolute;
    left: 43%;
    bottom: -32%;
    width: 25%;
    height: auto;
     z-index: 2;
   
}


.hoa1--a{
   position: absolute;
    bottom: -33%;
    right: -5%;
    width: 47%;
    height: auto;
     z-index: 3;
}


.hoa2--a{
 position: absolute;
    bottom: -40%;
    left: 3%;
    width: 40%;
    height: auto;
     z-index: 3;
}



.demo {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 999;
}


/* // new styles for scrollbar and lightbox */

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
  /* Size scale */
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 2rem;
  --size-5: 3rem;
  --size-6: 4rem;

  /* Content width */
  --size-content-1: 20rem;
  --size-content-2: 40rem;
  --size-content-3: 100rem;

  /* Color tokens */
  --gray-1: hsl(0 0% 98%);
  --gray-2: hsl(0 0% 92%);
  --gray-3: hsl(0 0% 84%);
  --gray-7: hsl(0 0% 28%);
  --gray-9: hsl(0 0% 14%);

  /* Surfaces */
  --surface-1: hsl(0 0% 100%);
  --surface-2: hsl(0 0% 100% / 0.25);
  --surface-3: hsl(0 0% 100% / 0.15);

  /* Gradients */
  --gradient-1: linear-gradient(120deg, #8ec5fc 0%, #e0c3fc 100%);

  /* Typography */
  --font-size-fluid-1: clamp(1rem, 2vw, 2rem);
  --font-size-fluid-2: clamp(1.25rem, 3vw, 3rem);
}



.track-wrapper {
    position: absolute;
    bottom: 20%;
    left: 50%;
      transform: translateX(-50%);
	width: 80%;
  max-inline-size: var(--size-content-3);
	overflow: hidden;
    z-index: 5;
	-webkit-mask: linear-gradient(90deg,
								transparent 0,
								black 15% 85%,
								transparent
							) 0 50% / 100% calc(100% - (2 * var(--size-4))) no-repeat,
							linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
							linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;
}

ul img {
	height: 100%;
	width: auto;
}

.track {
	--size: clamp(200px, 70vmin, 50rem);
	height: var(--size); /* Chiều cao*/
	width: 100%;
	display: flex;
	overflow: auto;
	gap: var(--size-4); 
	list-style-type: none;
  margin: 0;
	/*background: hsl(0 0% 100% / 0.25);*/
	padding: var(--size-4) 10%; /* đoạn này là khoảng trước ảnh đầu tiên và sau ảnh cuối cùng*/
	/* scroll-snap-type: x mandatory; */
	/* Circular inverted */
	/* -webkit-mask-image: radial-gradient(ellipse at 50% 66%, black 0 30%, transparent 30%);
	/* No Scrollbar */
	/* -webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% 20vmin / 240% 100%;*/
	/* Winner */
	/*-webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% calc(var(--size) * 0.5) / 250% 100%,
								linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
								linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;*/
	-webkit-mask: radial-gradient(#0000 0 30%, #000 30.5%) 50% calc(var(--size) * 0.5) / 300% 100%,
								linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
								linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;

}

.track__item {
	height: 100%;
	/* aspect-ratio: 1;
	background: hsl(0 80% 50% / 1); */
	/*background: var(--surface-2);*/
	scroll-snap-align: center;
	/*display: none;*/
}



/* Ẩn scrollbar mặc định */
.track {
  scrollbar-width: none; /* Firefox */
}
.track::-webkit-scrollbar {
  display: none; /* Chrome */
}

/* Scrollbar giả */
.fake-scrollbar {
  position: absolute;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: transparent;
  bottom: 20%;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Đây là container chứa các phần tử điều khiển */
#thumb {
  position: absolute; /* Quan trọng: phải có position absolute */
  display: flex; /* Dùng flex để sắp xếp ngang */
  align-items: center;
  gap: 0px; /* Khoảng cách giữa các phần tử con */
  cursor: grab;
  user-select: none;
  pointer-events: auto;
  /* Vị trí ban đầu sẽ được JS tính toán */
}

.fake-thumb {
  width: 100px; /* icon size */
  height: 100px;
  user-select: none;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-user-drag: none;
  user-drag: none;
  border: #ff9361 solid 2px;
  /* Không cần position ở đây nữa */
  flex-shrink: 0;
}

/* Style cho các dấu < và > */
#thumb p {
  font-size: 4rem;
  color: #000;
  cursor: pointer;
  user-select: none;
  margin: 0;
  font-weight: bold;
  transition: transform 0.2s ease;
    font-family: "Chokokutai", system-ui;
  font-weight: 400;
  font-style: normal;
   animation: colorBlink 2s infinite;
}

@keyframes colorBlink {
  0% { 
    opacity: 1;
    color: #000;
  }
  33% { 
    opacity: 0.7;
    color: rgb(124, 7, 234); /* Đỏ */
  }
  66% { 
    opacity: 0.5;
    color: brown; /* Xanh */
  }
  100% { 
    opacity: 1;
    color: #000;
  }
}

.fake-thumb:active {
  cursor: grabbing;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: flex; /* luôn để flex */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;           /* ban đầu trong suốt */
  visibility: hidden;   
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.lightbox.show {
  opacity: 1;           /* hiện ra */
  visibility: visible;  /* hiển thị */
    transition: opacity 0.5s ease, visibility 0s;
}


.lightbox-img {
  height: 90%;
  width: auto;
  object-fit: contain;
  border-radius: 1%;
  transition: opacity 0.5s ease-in-out;
  
}

.anh-item{
  height: 90%;
  width: auto;
  object-fit: contain;
  border-radius: 1%;
  transition: opacity 0.5s ease-in-out;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.anh-container {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 80vw;
  height: 80vh;
  /* display: flex; */
  gap: 20px;
  z-index: 2; /* thấp hơn lightbox */
}

.box-img{
  height: 100%;
  width: 100%;
  background-color: none;
}


.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
}